@charset "UTF-8";
/*Обнуление*/
@import url("https://fonts.googleapis.com/css2?family=Inter:wght@400;700;800&display=swap");
* {
  padding: 0;
  margin: 0;
  border: 0; }

*, *:before, *:after {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box; }

:focus, :active {
  outline: none; }

a:focus, a:active {
  outline: none; }

nav, footer, header, aside {
  display: block; }

html, body {
  height: 100%;
  width: 100%;
  font-size: 100%;
  line-height: 1;
  font-size: 14px;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%; }

input, button, textarea {
  font-family: inherit; }

input::-ms-clear {
  display: none; }

button {
  cursor: pointer; }

button::-moz-focus-inner {
  padding: 0;
  border: 0; }

a, a:visited {
  text-decoration: none; }

a:hover {
  text-decoration: none; }

ul li {
  list-style: none; }

img {
  vertical-align: top; }

h1, h2, h3, h4, h5, h6 {
  font-size: inherit;
  font-weight: inherit; }

/*--------------------*/
/*Адаптив изображений*/
.ibg {
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  position: relative; }

.ibg img {
  width: 0;
  height: 0;
  position: absolute;
  top: 0;
  left: 0;
  opacity: 0;
  visibility: hidden; }

/*--------------------*/
body {
  background: #F5F5F5; }
  body._lock {
    overflow: hidden; }

@font-face {
  font-family: 'icomoon';
  src: url("../fonts/icomoon.eot?a1um1b");
  src: url("../fonts/icomoon.eot?a1um1b#iefix") format("embedded-opentype"), url("../fonts/icomoon.ttf?a1um1b") format("truetype"), url("../fonts/icomoon.woff?a1um1b") format("woff"), url("../fonts/icomoon.svg?a1um1b#icomoon") format("svg");
  font-weight: normal;
  font-style: normal;
  font-display: block; }

[class^="icon-"], [class*=" icon-"] {
  font-family: 'icomoon' !important;
  speak: never;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale; }

.icon-telegrams:before {
  content: "\e900"; }

.icon-letter:before {
  content: "\e901"; }

.icon-telephone:before {
  content: "\e902"; }

.icon-pointer-right:before {
  content: "\e903"; }

.icon-pointer-left:before {
  content: "\e904"; }

.icon-github:before {
  content: "\eab0"; }

.container {
  max-width: 1320px;
  margin: 0 auto;
  padding: 0 20px; }

@media (max-width: 1240px) {
  .container {
    max-width: 1064px; } }

@media (max-width: 1064px) {
  .container {
    max-width: 807px; } }

@media (max-width: 767px) {
  .container {
    max-width: none;
    padding: 0 15px; } }

.popup {
  position: fixed;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.85);
  top: 0;
  left: 0;
  z-index: 100;
  opacity: 0;
  visibility: hidden;
  -webkit-transition: 1s;
  -o-transition: 1s;
  transition: 1s;
  overflow-y: auto;
  overflow-x: hidden;
  -webkit-transition: all 0.3s ease 0s;
  -o-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
  -webkit-backdrop-filter: blur(5px);
  backdrop-filter: blur(5px); }
  .popup:after {
    width: 100%;
    height: 100%;
    position: absolute;
    left: 0%;
    top: 0%;
    display: block;
    z-index: 1;
    -webkit-backdrop-filter: blur(5px);
    backdrop-filter: blur(5px);
    pointer-events: none; }

.popup.open {
  opacity: 1;
  visibility: visible; }

.popup__area {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0; }

.popup__body {
  min-height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  padding: 30px 10px; }

.popup__content {
  background: rgba(255, 255, 255, 0.1);
  -webkit-box-shadow: 4px 4px 4px 0px rgba(255, 255, 255, 0.2) inset;
  box-shadow: 4px 4px 4px 0px rgba(255, 255, 255, 0.2) inset;
  color: #000;
  max-width: 533px;
  padding-left: 30px;
  padding-right: 30px;
  padding-top: 70px;
  padding-bottom: 30px;
  position: relative;
  z-index: 10;
  border-radius: 10px;
  overflow: hidden; }
  @media (max-width: 1320px) {
    .popup__content {
      padding-left: calc(17px + 13 * ((100vw - 320px) / 1000)); } }
  @media (max-width: 1320px) {
    .popup__content {
      padding-right: calc(17px + 13 * ((100vw - 320px) / 1000)); } }
  @media (max-width: 1320px) {
    .popup__content {
      padding-top: calc(40px + 30 * ((100vw - 320px) / 1000)); } }
  @media (max-width: 1320px) {
    .popup__content {
      padding-bottom: calc(20px + 10 * ((100vw - 320px) / 1000)); } }
  .popup__content:after {
    content: "";
    width: 100%;
    height: 100%;
    position: absolute;
    left: 0%;
    top: 0%;
    display: block;
    z-index: 0;
    -webkit-backdrop-filter: blur(20px);
    backdrop-filter: blur(20px);
    -webkit-box-shadow: -4px -4px 15px 0px rgba(255, 255, 255, 0.25) inset;
    box-shadow: -4px -4px 15px 0px rgba(255, 255, 255, 0.25) inset;
    pointer-events: none; }
  .popup__content > * {
    position: relative;
    z-index: 2; }

.popup__close {
  position: absolute;
  right: 30px;
  top: 30px; }
  @media (min-width: 1064px) {
    .popup__close {
      -webkit-transition: all 0.3s ease 0s;
      -o-transition: all 0.3s ease 0s;
      transition: all 0.3s ease 0s; }
      .popup__close:hover {
        opacity: 0.8; }
      .popup__close:active {
        opacity: 0.6; } }

.popup__title {
  font-family: Inter;
  font-size: 32px;
  font-weight: 800;
  line-height: 100%;
  letter-spacing: 0em;
  text-align: center;
  text-transform: uppercase;
  color: #fff;
  margin-bottom: 14px; }
  @media (max-width: 1320px) {
    .popup__title {
      font-size: calc(24px + 8 * ((100vw - 320px) / 1000)); } }
  @media (max-width: 1320px) {
    .popup__title {
      margin-bottom: calc(6px + 8 * ((100vw - 320px) / 1000)); } }

.popup__text {
  font-family: Inter;
  font-size: 16px;
  font-weight: 400;
  line-height: 22px;
  letter-spacing: 0em;
  text-align: center;
  color: #fff;
  margin-bottom: 12px; }
  @media (max-width: 1320px) {
    .popup__text {
      font-size: calc(12px + 4 * ((100vw - 320px) / 1000)); } }
  @media (max-width: 1320px) {
    .popup__text {
      line-height: calc(19px + 3 * ((100vw - 320px) / 1000)); } }
  @media (max-width: 1320px) {
    .popup__text {
      margin-bottom: calc(8px + 4 * ((100vw - 320px) / 1000)); } }

.popup__close-img {
  width: 25px;
  height: 25px;
  display: block; }

.popup-form__input {
  margin-bottom: 20px; }
  .popup-form__input input,
  .popup-form__input textarea {
    background: none;
    border-bottom: 1px solid #ff5c00;
    width: 100%;
    font-family: Inter;
    font-size: 16px;
    font-weight: 400;
    line-height: 100%;
    letter-spacing: 0em;
    text-align: left;
    color: #fff;
    padding: 4px 12px;
    height: 30px;
    -webkit-transition: all 0.3s ease 0s;
    -o-transition: all 0.3s ease 0s;
    transition: all 0.3s ease 0s; }
  .popup-form__input input::-webkit-input-placeholder,
  .popup-form__input textarea::-webkit-input-placeholder {
    opacity: 1 !important;
    color: #fff; }
  .popup-form__input input:-ms-input-placeholder,
  .popup-form__input textarea:-ms-input-placeholder {
    opacity: 1 !important;
    color: #fff; }
  .popup-form__input input::-ms-input-placeholder,
  .popup-form__input textarea::-ms-input-placeholder {
    opacity: 1 !important;
    color: #fff; }
  .popup-form__input input::placeholder,
  .popup-form__input textarea::placeholder {
    opacity: 1 !important;
    color: #fff; }
  .popup-form__input input.error,
  .popup-form__input textarea.error {
    border-bottom: 1px solid rgba(229, 59, 53, 0.9); }
  @media (max-width: 767px) {
    .popup-form__input {
      margin-bottom: 14px;
      margin-right: 0; } }

.popup-form__textarea {
  margin-right: 0; }
  .popup-form__textarea textarea {
    background: none;
    border: 1px solid #ff5c00;
    width: 100%;
    height: 180px;
    font-family: Inter;
    font-size: 16px;
    font-weight: 400;
    line-height: 100%;
    letter-spacing: 0em;
    text-align: left;
    color: #fff;
    padding: 4px 12px;
    padding-top: 12px;
    resize: none;
    border-radius: 5px;
    -webkit-transition: all 0.3s ease 0s;
    -o-transition: all 0.3s ease 0s;
    transition: all 0.3s ease 0s; }
  .popup-form__textarea input::-webkit-input-placeholder,
  .popup-form__textarea textarea::-webkit-input-placeholder {
    opacity: 1 !important;
    color: #fff; }
  .popup-form__textarea input:-ms-input-placeholder,
  .popup-form__textarea textarea:-ms-input-placeholder {
    opacity: 1 !important;
    color: #fff; }
  .popup-form__textarea input::-ms-input-placeholder,
  .popup-form__textarea textarea::-ms-input-placeholder {
    opacity: 1 !important;
    color: #fff; }
  .popup-form__textarea input::placeholder,
  .popup-form__textarea textarea::placeholder {
    opacity: 1 !important;
    color: #fff; }
  .popup-form__textarea input.error,
  .popup-form__textarea textarea.error {
    border: 1px solid rgba(229, 59, 53, 0.9); }

.popup-form__button {
  margin: 8px auto;
  margin-top: 22px; }

.popup__footer {
  font-family: Inter;
  font-size: 12px;
  font-weight: 400;
  line-height: 17px;
  letter-spacing: 0em;
  text-align: center;
  color: #b29595;
  max-width: 80%;
  margin: 0 auto; }
  @media (max-width: 540px) {
    .popup__footer {
      margin: 0;
      max-width: none;
      text-align: left; } }

.bacgraund-black {
  background: #0E0E11;
  position: relative; }
  .bacgraund-black > * {
    position: relative;
    z-index: 3; }
  .bacgraund-black:before {
    content: "";
    background-image: url("../img/black-background-noise.png");
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    width: 100%;
    height: 100%;
    position: absolute;
    left: 0;
    top: 0;
    z-index: 1 !important; }
  .bacgraund-black.bacgraund-black_two:before {
    background-image: url("../img/black-background-noise2.png"); }

.backgraund-while {
  position: relative; }
  .backgraund-while > * {
    position: relative;
    z-index: 3; }
  .backgraund-while:before {
    content: "";
    background-image: url("../img/while-background-noise.png");
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    width: 100%;
    height: 100%;
    position: absolute;
    left: 0;
    top: 0;
    z-index: 1 !important; }

@media (min-width: 1064px) {
  ._link-hover {
    -webkit-transition: all 0.3s ease 0s !important;
    -o-transition: all 0.3s ease 0s !important;
    transition: all 0.3s ease 0s !important; }
    ._link-hover:hover {
      color: #ff9052; }
    ._link-hover:active {
      color: rgba(255, 144, 82, 0.8); } }

.button-orange {
  font-family: Inter;
  font-size: 14px;
  font-weight: 800;
  line-height: 17px;
  color: #000000;
  background: #FF5C00;
  text-transform: uppercase;
  width: 201px;
  height: 46px;
  padding-bottom: 4px;
  border-radius: 59px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center; }
  @media (min-width: 1064px) {
    .button-orange {
      -webkit-transition: all 0.3s ease 0s !important;
      -o-transition: all 0.3s ease 0s !important;
      transition: all 0.3s ease 0s !important; }
      .button-orange:hover {
        background: #ff9052; }
      .button-orange:active {
        background: rgba(255, 144, 82, 0.8); } }
  @media (max-width: 540px) {
    .button-orange {
      width: 100%; } }

.button-border-orange {
  font-family: Inter;
  font-size: 14px;
  font-weight: 800;
  line-height: 17px;
  color: #fff;
  border: 1px solid #FF5C00;
  width: 201px;
  height: 46px;
  padding-bottom: 4px;
  border-radius: 59px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center; }
  @media (min-width: 1064px) {
    .button-border-orange {
      -webkit-transition: all 0.3s ease 0s !important;
      -o-transition: all 0.3s ease 0s !important;
      transition: all 0.3s ease 0s !important; }
      .button-border-orange:hover {
        background: #FF5C00; }
      .button-border-orange:active {
        opacity: 0.8; } }

.title {
  font-family: Inter;
  font-size: 58px;
  font-weight: 700;
  line-height: 66px;
  letter-spacing: 0em;
  text-align: left;
  text-transform: uppercase;
  color: #222020; }
  @media (max-width: 1320px) {
    .title {
      font-size: calc(32px + 26 * ((100vw - 320px) / 1000)); } }
  @media (max-width: 1320px) {
    .title {
      line-height: calc(40px + 26 * ((100vw - 320px) / 1000)); } }
  .title.title_while {
    color: #fff; }
  .title.title_big {
    font-weight: 800; }
  @media (max-width: 1064px) {
    .title {
      font-size: 42px;
      line-height: 45px; } }
  @media (max-width: 767px) {
    .title {
      font-size: 32px;
      line-height: 40px; } }

.background-blur {
  background: rgba(255, 255, 255, 0.1);
  -webkit-box-shadow: 4px 4px 4px 0px rgba(255, 255, 255, 0.2) inset;
  box-shadow: 4px 4px 4px 0px rgba(255, 255, 255, 0.2) inset;
  position: relative;
  z-index: 10;
  overflow: hidden; }
  .background-blur:after {
    content: "";
    width: 100%;
    height: 100%;
    position: absolute;
    left: 0%;
    top: 0%;
    display: block;
    z-index: 0;
    -webkit-backdrop-filter: blur(20px);
    backdrop-filter: blur(20px);
    -webkit-box-shadow: -4px -4px 15px 0px rgba(255, 255, 255, 0.25) inset;
    box-shadow: -4px -4px 15px 0px rgba(255, 255, 255, 0.25) inset;
    pointer-events: none; }
  .background-blur > * {
    position: relative;
    z-index: 2; }

.header {
  padding: 22px 0;
  z-index: 100;
  position: relative; }
  @media (max-width: 767px) {
    .header {
      padding: 12px 0; }
      .header:before {
        content: "";
        width: 100%;
        height: 100%;
        left: 0;
        top: -20px;
        opacity: 0;
        display: block;
        position: absolute;
        background: #0E0E11;
        z-index: 101;
        -webkit-transition: all 0.3s ease 0s;
        -o-transition: all 0.3s ease 0s;
        transition: all 0.3s ease 0s; }
      .header._active .header-blur {
        pointer-events: auto;
        opacity: 1; }
      .header._active:before {
        opacity: 1;
        top: 0; } }

.header__body {
  font-size: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center; }

.header__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  padding-right: 3px; }
  @media (max-width: 767px) {
    .header__list {
      position: fixed;
      left: -100%;
      top: 0;
      width: 100%;
      height: 65%;
      z-index: 100;
      display: block;
      background: #0E0E11;
      padding: 15px;
      padding-top: 70px;
      overflow: auto;
      -webkit-transition: all 0.3s ease 0s;
      -o-transition: all 0.3s ease 0s;
      transition: all 0.3s ease 0s; }
      .header__list._active {
        left: 0; } }

.header-blur {
  /*background: #000000;
	position: fixed;
	left: 0%;
	top: 0;
	width: 100%;
	height: 100%;
	opacity: 0.6;
	overflow: auto;
	z-index: 99;
	backdrop-filter: blur(10px);*/
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  pointer-events: none;
  opacity: 0;
  -webkit-transition: all 0.1s ease 0.3s;
  -o-transition: all 0.1s ease 0.3s;
  transition: all 0.1s ease 0.3s; }
  .header-blur:after {
    content: "";
    width: 110%;
    height: 110%;
    position: absolute;
    left: 50%;
    top: 50%;
    -webkit-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    display: block;
    opacity: 1;
    z-index: 3;
    -webkit-transition: all 0.3s ease 0s;
    -o-transition: all 0.3s ease 0s;
    transition: all 0.3s ease 0s;
    background: rgba(0, 0, 0, 0.7);
    -webkit-backdrop-filter: blur(5px);
    backdrop-filter: blur(5px);
    pointer-events: none; }
  @media (min-width: 766.1px) {
    .header-blur {
      display: none;
      max-width: 0;
      max-height: 0; } }

.header__link {
  margin-right: 51.5px; }
  @media (max-width: 1320px) {
    .header__link {
      margin-right: calc(0px + 51.5 * ((100vw - 320px) / 1000)); } }
  .header__link:last-child {
    margin-right: 0; }
  .header__link a {
    font-family: Inter;
    font-size: 16px;
    font-weight: 400;
    line-height: 19px;
    color: #fff; }
  @media (max-width: 767px) {
    .header__link {
      margin-bottom: 8px; }
      .header__link a {
        font-size: 32px;
        line-height: 100%;
        font-weight: 700; } }

.header__button {
  font-family: Inter;
  font-size: 14px;
  font-weight: 800;
  line-height: 17px;
  color: #000000;
  background: #FF5C00;
  text-transform: uppercase;
  width: 202px;
  -webkit-box-flex: 0;
  -ms-flex: 0 0 202px;
  flex: 0 0 202px;
  height: 46px;
  padding-bottom: 4px;
  border-radius: 59px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center; }
  @media (min-width: 1064px) {
    .header__button {
      -webkit-transition: all 0.3s ease 0s !important;
      -o-transition: all 0.3s ease 0s !important;
      transition: all 0.3s ease 0s !important; }
      .header__button:hover {
        background: #ff9052; }
      .header__button:active {
        background: rgba(255, 144, 82, 0.8); } }
  @media (max-width: 767px) {
    .header__button {
      width: 145px;
      height: 36px;
      font-size: 10px;
      line-height: 12px;
      -webkit-box-flex: 0;
      -ms-flex: 0 0 145px;
      flex: 0 0 145px;
      z-index: 102; } }

.menu__icon {
  display: none; }

@media (max-width: 767px) {
  .menu__icon {
    display: block;
    z-index: 102;
    position: relative;
    width: 30px;
    height: 18px;
    cursor: pointer; }
  .menu__icon span,
  .menu__icon::before,
  .menu__icon::after {
    left: 0;
    position: absolute;
    height: 10%;
    width: 100%;
    -webkit-transition: all 0.3s ease 0s;
    -o-transition: all 0.3s ease 0s;
    transition: all 0.3s ease 0s;
    background: #fff; }
  .menu__icon::before,
  .menu__icon::after {
    content: ""; }
  .menu__icon::before {
    top: 0; }
  .menu__icon::after {
    bottom: 0; }
  .menu__icon span {
    top: 50%;
    -webkit-transform: scale(1) translate(0px, -50%);
    -ms-transform: scale(1) translate(0px, -50%);
    transform: scale(1) translate(0px, -50%); }
  .menu__icon._active span {
    -webkit-transform: scale(0) translate(0px, -50%);
    -ms-transform: scale(0) translate(0px, -50%);
    transform: scale(0) translate(0px, -50%); }
  .menu__icon._active::before {
    top: 50%;
    -webkit-transform: rotate(-45deg) translate(0px, -50%);
    -ms-transform: rotate(-45deg) translate(0px, -50%);
    transform: rotate(-45deg) translate(0px, -50%); }
  .menu__icon._active::after {
    bottom: 50%;
    -webkit-transform: rotate(45deg) translate(0px, 50%);
    -ms-transform: rotate(45deg) translate(0px, 50%);
    transform: rotate(45deg) translate(0px, 50%); } }

.index-block {
  background: #0E0E11;
  padding-bottom: 35px;
  overflow: hidden; }

.eleps {
  position: absolute;
  pointer-events: none; }

.eleps_1 {
  width: 157px;
  left: 0;
  top: 0;
  -webkit-transform: translate(-170%, -50%);
  -ms-transform: translate(-170%, -50%);
  transform: translate(-170%, -50%);
  opacity: 0; }
  @media (max-width: 1240px) {
    .eleps_1 {
      opacity: 1;
      -webkit-transform: translate(-70%, -10%);
      -ms-transform: translate(-70%, -10%);
      transform: translate(-70%, -10%); } }

.eleps_2 {
  width: 751px;
  right: 0;
  top: 50%;
  -webkit-transform: translate(40%, -50%);
  -ms-transform: translate(40%, -50%);
  transform: translate(40%, -50%); }

.eleps_3 {
  width: 651px;
  left: 0;
  bottom: 0;
  -webkit-transform: translate(-50%, 50%);
  -ms-transform: translate(-50%, 50%);
  transform: translate(-50%, 50%); }

.eleps_4 {
  width: 857px;
  left: 0;
  top: 0;
  -webkit-transform: translate(-70%, -80%);
  -ms-transform: translate(-70%, -80%);
  transform: translate(-70%, -80%); }
  @media (max-width: 1240px) {
    .eleps_4 {
      opacity: 0;
      display: none; } }

.index-block__wrapper {
  padding: 47px 0 15px;
  position: relative; }
  .index-block__wrapper > .container {
    position: relative; }

.index-block-slaider__slide {
  font-size: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-box-align: start;
  -ms-flex-align: start;
  align-items: flex-start;
  position: relative;
  /*&:before {
		content: "";
		width: 100%;
		height: 100%;
		position: absolute;
		display: block;
		opacity: 0;
		z-index: 3;
		transition: all 0.5s ease 3s;
		background: linear-gradient(to right, rgba(17, 17, 17, 0.1), #111111);
		//background: linear-gradient(to right, rgba(17, 17, 17, 0.3), #000);
	}*/
  /*&.swiper-slide-prev:before {
		opacity: 0 !important;
	}
	&.swiper-slide-next:after {
		opacity: 0 !important;
	}*/ }
  .index-block-slaider__slide * {
    opacity: 0;
    -webkit-transition: opacity 0.5s ease 0s;
    -o-transition: opacity 0.5s ease 0s;
    transition: opacity 0.5s ease 0s; }
  .index-block-slaider__slide:after {
    content: "";
    width: 110%;
    height: 110%;
    position: absolute;
    left: 50%;
    top: 50%;
    -webkit-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    display: block;
    opacity: 1;
    z-index: 3;
    -webkit-transition: all 0.3s ease 0s;
    -o-transition: all 0.3s ease 0s;
    transition: all 0.3s ease 0s;
    -webkit-backdrop-filter: blur(10px);
    backdrop-filter: blur(10px);
    pointer-events: none; }
  .index-block-slaider__slide.swiper-slide-active:after {
    opacity: 0 !important; }
  .index-block-slaider__slide.swiper-slide-active * {
    opacity: 1 !important;
    -webkit-transition: opacity 0.7s ease 0.3s;
    -o-transition: opacity 0.7s ease 0.3s;
    transition: opacity 0.7s ease 0.3s; }
  @media (max-width: 1240px) {
    .index-block-slaider__slide {
      -webkit-box-align: center;
      -ms-flex-align: center;
      align-items: center; } }
  @media (max-width: 767px) {
    .index-block-slaider__slide {
      display: block; } }

.index-block-slaider__content {
  padding-top: 40px;
  -webkit-box-flex: 1;
  -ms-flex: 1 1 auto;
  flex: 1 1 auto;
  padding-right: 30px;
  padding-bottom: 24px; }
  @media (max-width: 1064px) {
    .index-block-slaider__content {
      padding-right: 8px; } }
  @media (max-width: 767px) {
    .index-block-slaider__content {
      padding: 0; } }

.index-block-slaider__title {
  margin-bottom: 10px; }
  @media (min-width: 1240px) {
    .index-block-slaider__title {
      line-height: 76px; } }

.index-block-slaider__text {
  font-family: Inter;
  font-size: 16px;
  font-weight: 400;
  line-height: 22px;
  letter-spacing: 0em;
  text-align: left;
  color: #fff;
  margin-bottom: 19px;
  max-width: 80%; }

.index-block-slaider__img {
  -webkit-box-flex: 0;
  -ms-flex: 0 0 43%;
  flex: 0 0 43%; }
  .index-block-slaider__img img {
    width: 100%; }
  @media (max-width: 1064px) {
    .index-block-slaider__img {
      -webkit-box-flex: 0;
      -ms-flex: 0 0 45%;
      flex: 0 0 45%; } }
  @media (max-width: 767px) {
    .index-block-slaider__img {
      position: relative;
      left: 50%;
      max-width: 590px;
      margin-top: 28px;
      -webkit-transform: translateX(-50%);
      -ms-transform: translateX(-50%);
      transform: translateX(-50%); } }

.index-block-slaider__navigachion {
  position: relative;
  margin-top: 9px;
  padding-left: 4px;
  font-size: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center; }
  @media (max-width: 767px) {
    .index-block-slaider__navigachion {
      margin-top: 32px;
      -webkit-box-pack: center;
      -ms-flex-pack: center;
      justify-content: center; } }

.index-block-slaider__button-navigachion {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  border: 1px solid #9798AB;
  font-size: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  cursor: pointer; }
  .index-block-slaider__button-navigachion span {
    font-size: 18px;
    color: #9798AB;
    -webkit-transition: all 0.3s ease 0s;
    -o-transition: all 0.3s ease 0s;
    transition: all 0.3s ease 0s; }
  .index-block-slaider__button-navigachion.swiper-button-disabled {
    pointer-events: none !important;
    opacity: 0.4 !important; }
  @media (min-width: 1064px) {
    .index-block-slaider__button-navigachion {
      -webkit-transition: all 0.3s ease 0s !important;
      -o-transition: all 0.3s ease 0s !important;
      transition: all 0.3s ease 0s !important; }
      .index-block-slaider__button-navigachion:hover {
        border: 1px solid #ff9052; }
      .index-block-slaider__button-navigachion:hover span {
        color: #ff9052; }
      .index-block-slaider__button-navigachion:active {
        border: 1px solid rgba(255, 144, 82, 0.8); }
      .index-block-slaider__button-navigachion:active span {
        color: rgba(255, 144, 82, 0.8); } }

.index-block-slaider__button-navigachion_left {
  margin-right: 7px; }

.index-block-slaider__pagination {
  display: block;
  -webkit-box-flex: 0;
  -ms-flex: 0 0 auto;
  flex: 0 0 auto;
  width: auto !important; }
  .index-block-slaider__pagination span {
    opacity: 1;
    background: #9798AB; }
  .index-block-slaider__pagination span.swiper-pagination-bullet-active {
    background: #FF5C00; }

.index-block-slaider__button-navigachion_right {
  margin-left: 7px; }

.text-block {
  padding-top: 90px;
  padding-bottom: 40px; }
  @media (max-width: 1320px) {
    .text-block {
      padding-top: calc(50px + 40 * ((100vw - 320px) / 1000)); } }
  @media (max-width: 1320px) {
    .text-block {
      padding-bottom: calc(20px + 20 * ((100vw - 320px) / 1000)); } }

.text-block__wrapper {
  font-size: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center; }
  @media (max-width: 767px) {
    .text-block__wrapper {
      -webkit-box-orient: vertical;
      -webkit-box-direction: normal;
      -ms-flex-direction: column;
      flex-direction: column; } }

.text-block__img {
  -webkit-box-flex: 0;
  -ms-flex: 0 0 47%;
  flex: 0 0 47%; }
  .text-block__img img {
    width: 100%; }
  @media (max-width: 767px) {
    .text-block__img {
      margin-bottom: 37px; } }

.text-block__content {
  -webkit-box-flex: 1;
  -ms-flex: 1 1 auto;
  flex: 1 1 auto;
  padding-left: 55px; }
  @media (max-width: 767px) {
    .text-block__content {
      padding-left: 0; } }

.text-block__title {
  /*font-family: Inter;
	font-size: 58px;
	font-weight: 800;
	line-height: 70px;
	letter-spacing: 0em;
	text-align: left;
	color: #222020;*/
  margin-bottom: 12px; }

.text-block__text p {
  font-family: Inter;
  font-size: 16px;
  font-weight: 400;
  line-height: 22px;
  letter-spacing: 0em;
  text-align: left;
  color: #383431;
  margin-bottom: 20px; }

.text-block__text p:last-child {
  margin-bottom: 0; }

.text-block__icon-list {
  font-size: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  margin-top: 20px;
  margin-bottom: 20px; }

.text-block__icon {
  margin-right: 19px; }
  .text-block__icon a {
    font-size: 16px;
    color: #24292F; }
  .text-block__icon a.icon-github {
    font-size: 19px; }
  @media (min-width: 1064px) {
    .text-block__icon a {
      -webkit-transition: all 0.3s ease 0s !important;
      -o-transition: all 0.3s ease 0s !important;
      transition: all 0.3s ease 0s !important; }
    .text-block__icon a:hover {
      color: #FF5C00; }
    .text-block__icon a:active {
      opacity: 0.8; } }

.footer {
  background: #111;
  padding: 45px 0 17px; }

.footer__wrapper {
  font-size: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between; }
  @media (max-width: 767px) {
    .footer__wrapper {
      -ms-flex-wrap: wrap;
      flex-wrap: wrap; } }

@media (max-width: 767px) {
  .footer__content {
    -webkit-box-ordinal-group: 4;
    -ms-flex-order: 3;
    order: 3;
    -webkit-box-flex: 0;
    -ms-flex: 0 0 100%;
    flex: 0 0 100%; } }

.footer__text p {
  font-family: Inter;
  font-size: 14px;
  font-weight: 400;
  line-height: 100%;
  letter-spacing: 0em;
  text-align: left;
  color: #D3D7E5;
  margin-bottom: 8px; }

.footer__text p:last-child {
  margin-bottom: 0; }

.footer__list {
  margin: 0 20px; }
  @media (max-width: 767px) {
    .footer__list {
      -webkit-box-ordinal-group: 0;
      -ms-flex-order: -1;
      order: -1;
      margin: 0;
      padding-right: 5px;
      -webkit-box-flex: 0;
      -ms-flex: 0 0 48%;
      flex: 0 0 48%; } }

.footer__link {
  margin-bottom: 8px; }
  .footer__link a {
    font-family: Inter;
    font-size: 14px;
    font-weight: 400;
    line-height: 100%;
    letter-spacing: 0em;
    text-align: left;
    color: #D3D7E5; }
  .footer__link:last-child {
    margin-bottom: 0; }

.footer__icon-list {
  margin: 0 20px; }
  @media (max-width: 767px) {
    .footer__icon-list {
      -webkit-box-ordinal-group: 2;
      -ms-flex-order: 1;
      order: 1;
      margin: 0;
      padding-left: 5px;
      -webkit-box-flex: 0;
      -ms-flex: 0 0 48%;
      flex: 0 0 48%; } }

.footer__icon-link {
  margin-bottom: 8px; }
  .footer__icon-link a {
    font-family: Inter;
    font-size: 14px;
    font-weight: 400;
    line-height: 100%;
    letter-spacing: 0em;
    text-align: left;
    color: #D3D7E5; }
  .footer__icon-link a span {
    margin-right: 2px;
    display: inline-block; }
  .footer__icon-link:last-child {
    margin-bottom: 0; }

@media (max-width: 767px) {
  .footer__button {
    -webkit-box-ordinal-group: 3;
    -ms-flex-order: 2;
    order: 2;
    -webkit-box-flex: 0;
    -ms-flex: 0 0 100%;
    flex: 0 0 100%;
    margin: 17px 0; } }

.logo-list {
  padding-top: 40px;
  padding-bottom: 40px; }
  @media (max-width: 1320px) {
    .logo-list {
      padding-top: calc(20px + 20 * ((100vw - 320px) / 1000)); } }
  @media (max-width: 1320px) {
    .logo-list {
      padding-bottom: calc(20px + 20 * ((100vw - 320px) / 1000)); } }

.logo-list__wrapper {
  border-radius: 10px;
  background: rgba(255, 255, 255, 0.05);
  -webkit-box-shadow: 4px 4px 4px 0px rgba(255, 255, 255, 0.2) inset;
  box-shadow: 4px 4px 4px 0px rgba(255, 255, 255, 0.2) inset;
  -webkit-box-shadow: -4px -4px 15px 0px rgba(255, 255, 255, 0.25) inset;
  box-shadow: -4px -4px 15px 0px rgba(255, 255, 255, 0.25) inset;
  -webkit-box-shadow: 0px 4px 15px 0px rgba(0, 0, 0, 0.05);
  box-shadow: 0px 4px 15px 0px rgba(0, 0, 0, 0.05);
  padding-top: 10px;
  padding-bottom: 10px;
  padding-left: 35px;
  padding-right: 35px; }
  @media (max-width: 1320px) {
    .logo-list__wrapper {
      padding-left: calc(15px + 20 * ((100vw - 320px) / 1000)); } }
  @media (max-width: 1320px) {
    .logo-list__wrapper {
      padding-right: calc(15px + 20 * ((100vw - 320px) / 1000)); } }
  @media (max-width: 1064px) {
    .logo-list__wrapper {
      padding-bottom: 30px; } }

.logo-list__body {
  font-size: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  padding: 20px 0px;
  overflow: auto; }
  .logo-list__body::-webkit-scrollbar {
    height: 3px; }
  .logo-list__body::-webkit-scrollbar-track {
    background: #ffd2b8;
    border-radius: 31px; }
  .logo-list__body::-webkit-scrollbar-thumb {
    background: #ff5c00;
    border-radius: 16px;
    display: block;
    max-height: 30px; }
  @media (max-width: 1064px) {
    .logo-list__body {
      padding-bottom: 40px; } }

.logo-list__blok {
  height: 54px;
  margin: 0 15px; }
  .logo-list__blok img {
    height: 100%; }

.premium-block {
  padding-top: 40px;
  padding-bottom: 90px; }
  @media (max-width: 1320px) {
    .premium-block {
      padding-top: calc(20px + 20 * ((100vw - 320px) / 1000)); } }
  @media (max-width: 1320px) {
    .premium-block {
      padding-bottom: calc(50px + 40 * ((100vw - 320px) / 1000)); } }

.premium-block__title {
  /*font-family: Inter;
	font-size: 58px;
	font-weight: 800;
	line-height: 70px;
	letter-spacing: 0em;
	text-align: left;
	color: rgba(34, 32, 32, 1);*/
  margin-bottom: 17px; }

@media (min-width: 767px) {
  .premium-block__body .swiper-wrapper {
    font-size: 0;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap; } }

@media (max-width: 767px) {
  .premium-block__body .swiper-wrapper {
    -webkit-box-orient: horizontal !important;
    -webkit-box-direction: normal !important;
    -ms-flex-direction: row !important;
    flex-direction: row !important; } }

.premium-block-blok {
  -webkit-box-flex: 0;
  -ms-flex: 0 0 32%;
  flex: 0 0 32%;
  margin-right: 2%;
  margin-bottom: 2%;
  border-radius: 10px;
  /*background: rgba(255, 255, 255, 0.05);
	box-shadow: 4px 4px 4px 0px rgba(255, 255, 255, 0.2) inset;
	box-shadow: -4px -4px 15px 0px rgba(255, 255, 255, 0.25) inset;*/
  -webkit-box-shadow: 0px 4px 15px 0px rgba(0, 0, 0, 0.05);
  box-shadow: 0px 4px 15px 0px rgba(0, 0, 0, 0.05);
  padding: 25px; }
  .premium-block-blok:nth-child(3n) {
    margin-right: 0; }
  @media (max-width: 767px) {
    .premium-block-blok {
      margin-right: 0;
      -webkit-box-flex: 0;
      -ms-flex: 0 0 auto;
      flex: 0 0 auto;
      margin-top: 0 !important; } }

.premium-block-blok__img {
  height: 55px;
  margin-bottom: 17px; }

.premium-block-blok__title {
  font-family: Inter;
  font-size: 20px;
  font-weight: 700;
  line-height: 28px;
  letter-spacing: 0em;
  text-align: left;
  color: #383431;
  margin-bottom: 12px; }

.premium-block-blok__text {
  font-family: Inter;
  font-size: 16px;
  font-weight: 400;
  line-height: 22px;
  letter-spacing: 0em;
  text-align: left;
  color: #383431; }

.premium-block__button {
  margin: 0 auto; }

.premium-block__navigachion {
  position: relative;
  margin-top: 9px;
  padding-left: 4px;
  font-size: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center; }
  @media (min-width: 767.1px) {
    .premium-block__navigachion {
      display: none;
      max-height: 0;
      max-width: 0; } }
  @media (max-width: 767px) {
    .premium-block__navigachion {
      margin-top: 10px;
      margin-bottom: 20px;
      -webkit-box-pack: center;
      -ms-flex-pack: center;
      justify-content: center; } }

.premium-block__button-navigachion {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  border: 1px solid #9798AB;
  font-size: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  cursor: pointer; }
  .premium-block__button-navigachion span {
    font-size: 18px;
    color: #9798AB;
    -webkit-transition: all 0.3s ease 0s;
    -o-transition: all 0.3s ease 0s;
    transition: all 0.3s ease 0s; }
  .premium-block__button-navigachion.swiper-button-disabled {
    pointer-events: none !important;
    opacity: 0.4 !important; }
  @media (min-width: 1064px) {
    .premium-block__button-navigachion {
      -webkit-transition: all 0.3s ease 0s !important;
      -o-transition: all 0.3s ease 0s !important;
      transition: all 0.3s ease 0s !important; }
      .premium-block__button-navigachion:hover {
        border: 1px solid #ff9052; }
      .premium-block__button-navigachion:hover span {
        color: #ff9052; }
      .premium-block__button-navigachion:active {
        border: 1px solid rgba(255, 144, 82, 0.8); }
      .premium-block__button-navigachion:active span {
        color: rgba(255, 144, 82, 0.8); } }

.premium-block__button-navigachion_left {
  margin-right: 7px; }

.premium-block__pagination {
  display: block;
  -webkit-box-flex: 0;
  -ms-flex: 0 0 auto;
  flex: 0 0 auto;
  width: auto !important; }
  .premium-block__pagination span {
    opacity: 1;
    background: #9798AB; }
  .premium-block__pagination span.swiper-pagination-bullet-active {
    background: #FF5C00; }

.premium-block__button-navigachion_right {
  margin-left: 7px; }

.portfolio {
  padding: 40px 0;
  padding-top: 90px;
  padding-bottom: 30px; }
  @media (max-width: 1320px) {
    .portfolio {
      padding-top: calc(40px + 50 * ((100vw - 320px) / 1000)); } }
  @media (max-width: 1320px) {
    .portfolio {
      padding-bottom: calc(15px + 15 * ((100vw - 320px) / 1000)); } }

.portfolio__title {
  /*font-family: Inter;
	font-size: 58px;
	font-weight: 800;
	line-height: 100%;
	letter-spacing: 0em;
	text-align: left;
	color: rgba(255, 255, 255, 1);*/
  margin-bottom: 14px;
  /*@media (max-width: 767px) {
		font-size: 28px;
	}*/ }

@media (min-width: 767.1px) {
  .portfolio__body .swiper-wrapper {
    font-size: 0;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap; } }

.portfolio-block {
  -webkit-box-flex: 0;
  -ms-flex: 0 0 32%;
  flex: 0 0 32%;
  padding: 20px;
  border-radius: 10px;
  margin-bottom: 2%;
  background: rgba(255, 255, 255, 0.05);
  -webkit-box-shadow: 4px 4px 4px 0px rgba(255, 255, 255, 0.2) inset;
  box-shadow: 4px 4px 4px 0px rgba(255, 255, 255, 0.2) inset;
  -webkit-box-shadow: -4px -4px 15px 0px rgba(255, 255, 255, 0.25) inset;
  box-shadow: -4px -4px 15px 0px rgba(255, 255, 255, 0.25) inset;
  -webkit-box-shadow: 0px 4px 15px 0px rgba(0, 0, 0, 0.05);
  box-shadow: 0px 4px 15px 0px rgba(0, 0, 0, 0.05); }
  @media (max-width: 1320px) {
    .portfolio-block {
      padding: calc(17px + 3 * ((100vw - 320px) / 1000)); } }
  @media (max-width: 767px) {
    .portfolio-block {
      -webkit-box-flex: 0;
      -ms-flex: 0 0 100%;
      flex: 0 0 100%; } }

.portfolio-block-big {
  -webkit-box-flex: 0;
  -ms-flex: 0 0 100%;
  flex: 0 0 100%; }

.portfolio-block__img {
  padding-top: 115%;
  background-color: #000;
  margin-bottom: 7px;
  border-radius: 6px; }
  @media (max-width: 767px) {
    .portfolio-block__img {
      padding-top: 115%; } }

.portfolio-block-big__img {
  padding-top: 40%;
  background-color: #000;
  margin-bottom: 7px;
  border-radius: 6px; }
  @media (max-width: 767px) {
    .portfolio-block-big__img {
      padding-top: 115%; } }

.portfolio-block-big__body {
  font-size: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center; }
  @media (max-width: 767px) {
    .portfolio-block-big__body {
      display: block; } }

@media (max-width: 767px) {
  .portfolio-block-big__content {
    margin-bottom: 14px; } }

.portfolio-block__title {
  font-family: Inter;
  font-size: 20px;
  font-weight: 700;
  line-height: 28px;
  letter-spacing: 0em;
  text-align: left;
  color: white;
  margin-bottom: 4px; }

.portfolio-block__text {
  font-family: Inter;
  font-size: 16px;
  font-weight: 400;
  line-height: 22px;
  letter-spacing: 0em;
  text-align: left;
  color: white; }

.portfolio-block__button {
  margin-top: 20px;
  width: 100%; }
  @media (max-width: 767px) {
    .portfolio-block__button {
      width: 100% !important; } }

.portfolio-block-big__button {
  width: 201px; }
  .portfolio-block-big__button > .portfolio-block__button {
    margin-top: 0; }
  @media (max-width: 767px) {
    .portfolio-block-big__button {
      width: 100% !important; } }

.portfolio__navigachion {
  position: relative;
  margin-top: 9px;
  padding-left: 4px;
  font-size: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center; }
  @media (min-width: 767.1px) {
    .portfolio__navigachion {
      display: none;
      max-height: 0;
      max-width: 0; } }
  @media (max-width: 767px) {
    .portfolio__navigachion {
      margin-top: 10px;
      margin-bottom: 20px;
      -webkit-box-pack: center;
      -ms-flex-pack: center;
      justify-content: center; } }

.portfolio__button-navigachion {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  border: 1px solid #9798AB;
  font-size: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  cursor: pointer; }
  .portfolio__button-navigachion span {
    font-size: 18px;
    color: #9798AB;
    -webkit-transition: all 0.3s ease 0s;
    -o-transition: all 0.3s ease 0s;
    transition: all 0.3s ease 0s; }
  .portfolio__button-navigachion.swiper-button-disabled {
    pointer-events: none !important;
    opacity: 0.4 !important; }
  @media (min-width: 1064px) {
    .portfolio__button-navigachion {
      -webkit-transition: all 0.3s ease 0s !important;
      -o-transition: all 0.3s ease 0s !important;
      transition: all 0.3s ease 0s !important; }
      .portfolio__button-navigachion:hover {
        border: 1px solid #ff9052; }
      .portfolio__button-navigachion:hover span {
        color: #ff9052; }
      .portfolio__button-navigachion:active {
        border: 1px solid rgba(255, 144, 82, 0.8); }
      .portfolio__button-navigachion:active span {
        color: rgba(255, 144, 82, 0.8); } }

.portfolio__button-navigachion_left {
  margin-right: 7px; }

.portfolio__pagination {
  display: block;
  -webkit-box-flex: 0;
  -ms-flex: 0 0 auto;
  flex: 0 0 auto;
  width: auto !important; }
  .portfolio__pagination span {
    opacity: 1;
    background: #9798AB; }
  .portfolio__pagination span.swiper-pagination-bullet-active {
    background: #FF5C00; }

.portfolio__button-navigachion_right {
  margin-left: 7px; }

.form {
  padding: 40px 0;
  padding-top: 30px;
  padding-bottom: 90px; }
  @media (max-width: 1320px) {
    .form {
      padding-top: calc(15px + 15 * ((100vw - 320px) / 1000)); } }
  @media (max-width: 1320px) {
    .form {
      padding-bottom: calc(40px + 50 * ((100vw - 320px) / 1000)); } }

.form__wrapper {
  background: rgba(255, 255, 255, 0.05);
  -webkit-box-shadow: 4px 4px 4px 0px rgba(255, 255, 255, 0.2) inset;
  box-shadow: 4px 4px 4px 0px rgba(255, 255, 255, 0.2) inset;
  -webkit-box-shadow: -4px -4px 15px 0px rgba(255, 255, 255, 0.25) inset;
  box-shadow: -4px -4px 15px 0px rgba(255, 255, 255, 0.25) inset;
  -webkit-box-shadow: 0px 4px 15px 0px rgba(0, 0, 0, 0.05);
  box-shadow: 0px 4px 15px 0px rgba(0, 0, 0, 0.05);
  padding: 50px 60px;
  border-radius: 10px; }
  @media (max-width: 767px) {
    .form__wrapper {
      padding: 50px; } }
  @media (max-width: 767px) and (max-width: 1320px) {
    .form__wrapper {
      padding: calc(20px + 30 * ((100vw - 320px) / 1000)); } }

.form__title {
  /*font-family: Inter;
	font-size: 48px;
	font-weight: 800;
	line-height: 100%;
	letter-spacing: 0em;
	text-align: left;
	color: #fff;*/
  margin-bottom: 4px; }

.form__text {
  font-family: Inter;
  font-size: 16px;
  font-weight: 400;
  line-height: 22px;
  letter-spacing: 0em;
  text-align: left;
  color: #fff;
  margin-bottom: 44px; }
  @media (max-width: 1320px) {
    .form__text {
      margin-bottom: calc(20px + 24 * ((100vw - 320px) / 1000)); } }

.form-body__inputs {
  font-size: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between; }
  @media (max-width: 767px) {
    .form-body__inputs {
      display: block; } }

.form-body-input {
  -webkit-box-flex: 0;
  -ms-flex: 0 0 30%;
  flex: 0 0 30%;
  margin-right: 27px; }
  .form-body-input input,
  .form-body-input textarea {
    background: none;
    border-bottom: 1px solid #ff5c00;
    width: 100%;
    font-family: Inter;
    font-size: 16px;
    font-weight: 400;
    line-height: 100%;
    letter-spacing: 0em;
    text-align: left;
    color: #fff;
    padding: 8px 12px;
    padding-top: 12px;
    border-radius: 6px;
    height: 40px;
    resize: none;
    position: relative;
    -webkit-transition: all 0.3s ease 0s;
    -o-transition: all 0.3s ease 0s;
    transition: all 0.3s ease 0s; }
  .form-body-input input.error,
  .form-body-input textarea.error {
    border-bottom: 1px solid rgba(229, 59, 53, 0.9); }
  .form-body-input textarea::-webkit-scrollbar {
    width: 1px; }
  .form-body-input textarea::-webkit-scrollbar-track {
    background: #ff5c00; }
  .form-body-input textarea::-webkit-scrollbar-thumb {
    background: #fff;
    display: block;
    max-height: 30px; }
  .form-body-input input::-webkit-input-placeholder,
  .form-body-input textarea::-webkit-input-placeholder {
    opacity: 1 !important;
    color: #fff; }
  .form-body-input input:-ms-input-placeholder,
  .form-body-input textarea:-ms-input-placeholder {
    opacity: 1 !important;
    color: #fff; }
  .form-body-input input::-ms-input-placeholder,
  .form-body-input textarea::-ms-input-placeholder {
    opacity: 1 !important;
    color: #fff; }
  .form-body-input input::placeholder,
  .form-body-input textarea::placeholder {
    opacity: 1 !important;
    color: #fff; }
  @media (max-width: 767px) {
    .form-body-input {
      margin-bottom: 14px;
      margin-right: 0; } }

.form-body-input_big {
  -webkit-box-flex: 1;
  -ms-flex: 1 1 auto;
  flex: 1 1 auto;
  margin-right: 0; }
  @media (min-width: 767.1px) {
    .form-body-input_big textarea {
      border-top: 1px solid rgba(255, 92, 0, 0);
      border-left: 1px solid rgba(255, 92, 0, 0);
      border-right: 1px solid rgba(255, 92, 0, 0); }
    .form-body-input_big textarea._focus {
      border-top: 1px solid #ff5c00;
      border-left: 1px solid #ff5c00;
      border-right: 1px solid #ff5c00;
      height: 170px; } }
  @media (max-width: 767px) {
    .form-body-input_big textarea {
      background: none;
      border: 1px solid #ff5c00;
      width: 100%;
      height: 150px;
      font-family: Inter;
      font-size: 16px;
      font-weight: 400;
      line-height: 100%;
      letter-spacing: 0em;
      text-align: left;
      color: #fff; }
    .form-body-input_big textarea.error {
      border: 1px solid rgba(229, 59, 53, 0.9); } }

.form-footer {
  font-size: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
  -ms-flex-pack: end;
  justify-content: flex-end;
  -webkit-box-align: start;
  -ms-flex-align: start;
  align-items: flex-start;
  margin-top: 20px; }
  @media (max-width: 767px) {
    .form-footer {
      -webkit-box-orient: vertical;
      -webkit-box-direction: normal;
      -ms-flex-direction: column;
      flex-direction: column; } }

.form-footer__text {
  font-family: Inter;
  font-size: 12px;
  font-weight: 400;
  line-height: 17px;
  letter-spacing: 0em;
  text-align: left;
  color: #b29595;
  max-width: 350px;
  padding-top: 4px; }
  @media (max-width: 767px) {
    .form-footer__text {
      -webkit-box-ordinal-group: 2;
      -ms-flex-order: 1;
      order: 1; } }

.form-footer__button {
  margin-left: 15px; }
  @media (max-width: 767px) {
    .form-footer__button {
      -webkit-box-ordinal-group: 0;
      -ms-flex-order: -1;
      order: -1;
      margin-bottom: 14px;
      margin-left: 0;
      -webkit-box-flex: 0;
      -ms-flex: 0 0 100%;
      flex: 0 0 100%;
      width: 100%; }
      .form-footer__button > * {
        width: 100%; } }
